azure-core
azure-identity
azure-search-documents #11.4.0
semantic-kernel #0.9.5b1
openai
langchain
langchain-openai
tiktoken
python-dotenv
requests
unstructured
markdown
qdrant-client
chromadb
yfinance
langchain-community
pymongo
ijson
ipykernel
azure-cosmos